<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Acme|Cormorant+Garamond|Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>The Sea-Hare</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- NAVBAR -->
        <ul class="topbuttons">
          <li id="item1"><a href="page1.html">Home</a></li>
          <li id="item2">
            <a href="https://en.wikipedia.org/wiki/Grimms'_Fairy_Tales"
              >About Grimm's</a
            >
          </li>
        </ul>
      </div>
      <div class="main">
        <h1>The Sea-Hare</h1>
        <div>
          <p>
            <b> Next day</b> he was to hide himself, but no matter how he
            puzzled his brains over it, he did not know where. He went into the
            forest to the raven and said, I let you live on, so now tell me
            where I am to hide myself, so that the king's daughter will not see
            me. The raven hung his head and thought it over for a long time. At
            length he croaked, I have it. He fetched an egg out of his nest, cut
            it into two parts, and shut the youth inside it, then made it whole
            again, and seated himself on it. When the king's daughter went to
            the first window she could not discover him, nor could she from the
            others, and she began to be uneasy, but from the eleventh she saw
            him. She ordered the raven to be shot, and the egg to be brought and
            broken, and the youth was forced to come out. She said, for once you
            are excused, but if you do not better than this, you are lost.
          </p>
        </div>
        <ul id="navbuttons">
          <li><a href="/page3.html">< Prev</a></li>
          <li><a href="/page5.html">Next ></a></li>
        </ul>
      </div>
      <div class="foot">
        <footer>
          <p id="ftr">Website created by: Patrick Furtak</p>
        </footer>
        <a id="git" href="https://www.github.com/pfurtak"
          ><img src="images/GitHub-Mark-Light-32px.png" alt="" srcset=""
        /></a>
      </div>
    </div>
  </body>
</html>
