<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Acme|Cormorant+Garamond|Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>The Sea-Hare</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- NAVBAR -->
        <ul class="topbuttons">
          <li id="item1"><a href="page1.html">Home</a></li>
          <li id="item2">
            <a href="https://en.wikipedia.org/wiki/Grimms'_Fairy_Tales"
              >About Grimm's</a
            >
          </li>
        </ul>
      </div>
      <div class="main">
        <h1>The Sea-Hare</h1>
        <div>
          <p>
            <b> She went to one window after another in turn,</b> from the first
            to the eleventh, and did not see him. When she did not see him from
            the twelfth either, she was full of anxiety and anger, and shut it
            down with such violence that the glass in every window shivered into
            a thousand pieces, and the whole castle shook. She went back and
            felt the sea-hare beneath the braids of her hair. Then she seized
            it, and threw it on the ground exclaiming, away with you, get out of
            my sight. It ran to the merchant, and both of them hurried to the
            spring, wherein they plunged, and received back their true forms.
            The youth thanked the fox, and said, the raven and the fish are
            idiots compared with you, you know the right tune to play, there is
            no denying that.
          </p>
        </div>
        <ul id="navbuttons">
          <li><a href="/page6.html">< Prev</a></li>
          <li><a href="/page8.html">Next ></a></li>
        </ul>
      </div>
      <div class="foot">
        <footer>
          <p id="ftr">Website created by: Patrick Furtak</p>
        </footer>
        <a id="git" href="https://www.github.com/pfurtak"
          ><img src="images/GitHub-Mark-Light-32px.png" alt="" srcset=""
        /></a>
      </div>
    </div>
  </body>
</html>
