<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Acme|Cormorant+Garamond|Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>The Sea-Hare</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- NAVBAR -->
        <ul class="topbuttons">
          <li id="item1"><a href="page1.html">Home</a></li>
          <li id="item2">
            <a href="https://en.wikipedia.org/wiki/Grimms'_Fairy_Tales"
              >About Grimm's</a
            >
          </li>
        </ul>
      </div>
      <div class="main">
        <h1>The Sea-Hare</h1>
        <div>
          <p>
            <b> On the last day,</b> he went with a heavy heart into the
            country, and met the fox. You know how to find all kinds of
            hiding-places, said he, I let you live, now advise me where I shall
            hide myself so that the king's daughter shall not discover me.
            That's a hard task, answered the fox, looking very thoughtful. At
            length he cried, I have it, and went with him to a spring, dipped
            himself in it, and came out as a stall-keeper in the market, and
            dealer in animals. The youth had to dip himself in the water also,
            and was changed into a small sea-hare. The merchant went into the
            town, and showed the pretty little animal, and many persons gathered
            together to see it. At length the king's daughter came likewise, and
            as she liked it very much, she bought it, and gave the merchant a
            good deal of money for it. Before he gave it over to her, he said to
            it, when the king's daughter goes to the window, creep quickly under
            the braids of her her hair. And now the time arrived when she was to
            search for him.
          </p>
        </div>
        <ul id="navbuttons">
          <li><a href="/page5.html">< Prev</a></li>
          <li><a href="/page7.html">Next ></a></li>
        </ul>
      </div>
      <div class="foot">
        <footer>
          <p id="ftr">Website created by: Patrick Furtak</p>
        </footer>
        <a id="git" href="https://www.github.com/pfurtak"
          ><img src="images/GitHub-Mark-Light-32px.png" alt="" srcset=""
        /></a>
      </div>
    </div>
  </body>
</html>
